@using Gat.Core.Model
@model productCategoryModel
@{
    ViewData["Title"] = "ShopDetail";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="@Model.Product.ProductImage" alt="">
                    </div>                   
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>@Model.Product.ProductName</h3>                   
                    <div class="product__details__price">@Model.Product.Price ₺</div>
                    <p>
                       @Model.Product.Description
                    </p>
                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="text" value="1">
                            </div>
                        </div>
                    </div>
                    <a href="#" class="primary-btn">Sepete Ekle</a>
                    <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                    <ul>
                        <li><b>Stok Bilgisi</b> <span>@Model.Product.Stock</span></li>
                        <li><b>Ürün Tipi</b> <span><samp>@Model.Product.ProductType</samp></span></li>
                        <li><b>Kategori</b> <span>@Model.Product.Category.CategoryName</span></li>                        
                    </ul>
                </div>
            </div>            
        </div>
    </div>
</section>
@*<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>İlgili Ürünler</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.Products)
            {
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg">
                            <img src="@item.ProductImage" alt="">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="/Shop/ShopDetail/@item.Id">@item.ProductName</a></h6>
                            <h5>@item.Price ₺</h5>
                        </div>
                    </div>
                </div>
            }         
           
        </div>
    </div>
</section>*@

